<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mis productos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Mis productos</h1>
  <a href="/products">← Volver a todos los productos</a>
  <ul>
    <% productos.forEach(p => { %>
      <li>
        <strong><a href="/products/<%= p.id %>"><%= p.name %></a></strong><br>
        <%= p.description %><br>
        Precio: <%= p.price %> €
      </li>
    <% }) %>
  </ul>
</body>
</html>
